@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
 *{
   font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.password{
  display: flex;
  justify-content: center;
  height:100vh;
  align-items: center;
}

.password input{
  padding: 10px 50px;
  border-radius: 10px;
}

.password button{
  padding: 10px 15px;
  border-radius: 10px;
  background-color: #73a5f5;
  color: white;
  margin-left: 150px;
  margin-top: 20px;
}

.division{
  background-color: #c9c9e1;
  padding: 50px 120px;
  border-radius: 10px;
}
